:root {
  --back-color: #858585;
}

.back {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 300px;
  text-decoration: none;
  color: var(--back-color, #858585);
}

.back:hover {
  --back-color: white;
}

.arrow-1 {
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
}
.arrow-1 div {
  position: relative;
  top: 20px;
  width: 90px;
  height: 10px;
  background-color: var(--back-color, #858585);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  left:0;
  display: block;
}
.arrow-1 div::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: 60px;
  background-color: var(--back-color, #858585);
  transform: rotate(-45deg);
}
.arrow-1 div::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: 60px;
  background-color: var(--back-color, #858585);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(45deg);
}